#wrapper {
    width: 125%;

    h1{
        text-align: center;
        margin: 20px;
        color: #4e73df;
    }
}

#container {
    margin: 0 auto;
    width: 100%;
}

.margin-wrapper {


    .middle-content{
        height: 450px;
        #first-box {
            width: 15%;
        }
        #second-box {
            width: 50%;

            .graph-box {
                overflow: hidden;
            }

        }
        #third-box {
            width: 35%;

            h6 {
                text-align: center;

                span {
                    margin: 0 5%;
                }
            }
            button {
                width: 30%;
                margin: 0 auto 10px;
            }
        }

    }

    .bottom-content{

        #last-box {
            width: 100%;
            height: 150px;
            margin-top: 20px;

            button {
                width: 20%;
                margin-left: 4%;
                background-color: #4e73df;
                color: white;
            }

        }

    }


}

.star-icon {
    font-size: 30px;
}

.like-content {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    a {
        text-decoration: none;
    }
}
.modal-header {

    h5 {
        margin-left: 233px;
        color: black;
        font-weight: bold;
        font-size: 25px;
    }

}

.modal-body {
    height: 200px;
}

#modal-detail {
    padding-top: 50px;
    justify-content: space-between;
    // color: red;

    .flex {
        width: 50%;
        justify-content: space-between;
        border-right: 1px solid #4e73df;
        padding-right: 25px;
    }

    .box2 {

        .won {
            text-align: right;
        }

    }

    .box3 {
        
        h5 {
            text-align: center;
        }

    }

}

.mine {
    font-weight: 700;
    height: 35px;
}

.nav-link {
    padding: 0;
}

.myTable {
    border: none;
}

body {
    div {
        div {
            h1 {
                font-weight: 700;
            }
        }
    }
}