.hoga {
    font-weight: 700;
}

.rest-sell {
    color: blue;
}

.rest-buy {
    color: red;
}

.hoga-bar {
    width: 100px; /* 막대 그래프의 기본 길이 */
    height: 10px; /* 막대 그래프의 높이 */
    background-color: #ccc; /* 막대 그래프의 기본 색상 */
}

.hoga-bar-long {
    background-color: green; /* 큰 값에 해당하는 막대 그래프의 색상 */
}