.content-tr{
    width: 100%;
    .content-no{
        width: 10%;
    }
    .content-title{
        width: 50%;
    }
    .content-writer{
        width: 10%;
    }
    .content-date{
        width: 30%;
    }
}

.clickable-title{
    cursor: pointer;
}