.flex {
    display: flex;
}

.side-stock {
    margin-bottom: 20px;
}

.margin-wrapper {
    width: 80%;
    margin: 0 auto;

    .card {
        margin-bottom: 40px;
    }

    .card-body {
        height: 315px;
    }

    .middle-content{
        justify-content: space-between;
    
        .popular-trade {
            width: 60%;
        }

        .sub-info {
            width: 35%;
        }
    }

    .bottom-content{
        justify-content: space-between;

        .simulated-rank {
            width: 30%;
        }

        .youtube-iframe {
            width: 560px;
            overflow: hidden;
        }

        .bookmark {
            width: 20%;
        }
    }
}

.center-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;    
}

p {
    color: black;
}

.sub-info {
    position: relative;

    .carousel-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
