

.navbar {
    width: 80%;
    .navbar-nav{
        width: 100%;
        align-items: center;
        justify-content: space-between;

    .nav-item {
        font-size: 30px;
        font-weight: 600;

        
    }
}

}
.input-group{
    width: 100%;   
    min-width: 180px;
    max-width: 300px;
    width: 20vw;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto; 
    display: flex;

    .searchBtn {
        height: 38px;
    }
}

img:not(.logo) {
    border: none;
}


#info-modal {
    max-height: 600px;
    max-width: 800px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    text-decoration: none;
    color: black;
    
}

#info-modal::-webkit-scrollbar {
    border-radius: 50px;
}
#info-modal::-webkit-scrollbar-thumb{
    background: rgb(61, 112, 184);
    border-radius: 50px;
}
#info-modal::-webkit-scrollbar-track {
    border-radius: 50px;
    background: rgb(153, 208, 228);
  }

#info-modal #info-modal-tag a{
        width: 240px;
        height: 40px;
        max-height: 50px;
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        color: black;
        padding: 5px;
        margin-left: 3px;
        font-size: 20px;
        margin-bottom: 10px;
    }

#cancleFooter {
    background: red;
}

#info-modal #info-modal-tag a:hover {
    color: rgb(165, 161, 161)
}

#spinner-image {
    width: 200px;
    height: 200px;
    margin: 100px auto;
}

