


.thumbnail-box {
  text-align: center;
  margin-top: 50px;
 

}

.thumbnail-box {
  img {
   width: 50%;
   
  }
}

.signup-img-label {
  font-size: 17px;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.col-lg-7 {
  flex: 0 0 100%;
  max-width: 100%;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 55%;
  padding-top: 10%;
  padding-bottom: 10%;
}


.pass-msg {
  margin-left: 13px;

}




