td, th {
    border: 1px solid black;
}

thead {
    background-color: blue;
    color: white;
    font-weight: 700;
}

table {
    margin-left: 200px;
}

button {
    color: blue;
    font-weight: 700;
}