.update-modal-body {
    padding: 5%;
    width: 95%;
    display: flex;
    flex-flow: column;
    height: 30%;
    input {
        margin-bottom: 7%;
    }
    select {
        margin-bottom: 7%;
    }
   
}