* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    position: relative;
    
}
img {
    border: 1px dotted blue;
}
.side-bar {
    position: sticky;
    
    left: 0;
    height: 100%;
    width: 200px;
    padding: 40px 20px;
    
    li {
        font-size: 20px;
        padding: 10px 0;
        list-style-type: disc;
        list-style-position: inside;
        a {
            text-decoration: none;
            color: black;
        }
    }
    li:hover {
        background-color: tomato;
        
    }
}

.information {
    top: 80px;
    margin-left: 25%;
    padding: 5px 20px;
    height: 80%;
    // position: fixed;
    // overflow: auto;
}
p {
    padding-bottom: 3px;
}
h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
}
.test {
    font-size: 20px;
}

.sidebar-heading {
    font-size: 300px;
}

.container-fluid {
    p {
        span {
            font-weight: 700;
        }
    }
}